<link rel="stylesheet" type="text/css" href="/background.css"/>

<h1>all transactions</h1>
<p>Treating yo self total: £<%= @total.first['sum'] %></p>
<table class="flexcontainer">
  <tr>
    <th>Item</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>Category</th>
    <th>More Details</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.item() %></td>
    <td>£<%= transaction.amount() %> </td>
    <td><%= transaction.merchant.name %> </td>
    <td><%= transaction.category.tag %> </td>
    <td><a href="/transactions/<%= transaction.id() %>">View</a></td>
  </tr>
  <% end %>
</table>
<p><a href="/transactions/new">Add New</a></p>

<label>
  <p>Filter by category:</p>
  <form action="/categories/filter" method="post">
   <p> <select name="category_id">
     <% for category in @categories %>
     <option value="<%=category.id%>"><%=category.tag%></option>
     <% end %>
   </select>
 </label>
 <input type="submit" value="GO"/></p>
</form>





