<link rel="stylesheet" type="text/css" href="/background.css"/>

<table class ="flexcontainer">
  <tr>
    <th>Item</th>
    <th>Amount</th>
    <th>Merchant</th>
    <th>More Details</th>
  </tr>
  <% for transaction in @transactions %>

  <tr>
    <td><%= transaction.item() %></td>
    <td>£<%= transaction.amount() %> </td>
    <td><%= transaction.merchant.name %> </td>
    <td><a href="/transactions/<%= transaction.id() %>">View</a></td>
  </tr>
  <% end %>
</table>

<p>Treating yo self total of <%= transaction.category.tag%>: £<%= @total.first['sum'] %></p>


